body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cormorant Garamond', serif;

    main {
        flex: 2;

        section {
            max-width: 800px;
            margin: 50px auto;
        }

        #resultSection {
            max-width: 800px;
            margin: 50px auto;
            border: 1px solid #545454;
            border-radius: 3px;
            padding: 40px;

            h1 {
                padding: 10px 0;
                font-family: 'Cormorant Garamond', serif;
                font-weight: bold;
                font-size: 20px;
                text-decoration: 1px #545454 underline;
            }

            div {
                padding: 5px 0;
                font-family: 'Cormorant Garamond', serif;
            }

        }
    }
}